:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.40);
  --white-alpha-25:  rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}



.sp-thongbao {
  color: red;
  margin-left: 2px; 
  display: none;
}

#SapXepGiam{
	display: none;
}

#content{
	width: 100%;
	background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.myCardHeader, .myCardFooter{
	background-color: transparent;       
}

img{
	width: 20%;
}

.main__container {
	max-width: 1420px;
}



/* Start Loading */
@keyframes spin {
  0%{
      transform: rotate(0deg)
  }
  100% {
      transform: rotate(360deg)
  }
}


#loading {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%; 
  width: 100%;
  z-index: 999;
  background-color: var(--white-alpha-25);
  backdrop-filter: var(--backdrop-filter-blur);
  display: none;
  align-items: center;
  justify-content: center;
  transition:  opacity 0.6s ease;
}


#loading div {
  border: 2px solid transparent;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  animation: spin 1s linear infinite;
}

#loading div:nth-child(1) {
  height: 60px;
  width: 60px;
  border-color: var(--main-color);
}

#loading div:nth-child(2) {
  height: 45px;
  width: 45px;
  border-color: var(--blue);
  animation-duration: 1.2s;
}

#loading div:nth-child(3) {
  height: 30px;
  width: 30px;
  border-color: var(--orange);
}
/* End Loading */
